<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Sans:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Literata:wght@400&display=swap"
    />
  </head>
  <body>
    <div id="barra"></div>
    <div class="home1">
      <div class="portada"></div>
      <div class="fondocat"></div>
      
      
      
      <div class="home1contenidodescuentos">
        <img
          class="bef28-e2d2-463c-ae04-d69b5960f-icon"
          alt=""
          src="./public/080bef28e2d2463cae04d69b5960f9f8@2x.png"
        />

        <img
          class="bef28-e2d2-463c-ae04-d69b5960f-icon1"
          alt=""
          src="./public/080bef28e2d2463cae04d69b5960f9f81@2x.png"
        />

        <div class="contenido">
          <b class="descuentos">DESCUENTOS</b>
          <div class="oferta-de-verano">OFERTA DE VERANO</div>
          <div class="lorem-ipsum-dolor1">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod
          </div>
          <div class="repeat-grid-1">
            <div class="div1">
              <img
                class="e97-1bef-49b5-a039-25634b9aaaa-icon"
                alt=""
                src="./public/50677e971bef49b5a03925634b9aaaa4@2x.png"
              />

              <div class="lmpara-parent">
                <div class="lmpara">Lámpara</div>
                <div class="div2">$ 99.00</div>
                <div class="parent">
                  <div class="div3">$ 189.00</div>
                  <img
                    class="path-263-icon"
                    alt=""
                    src="./public/path-263.svg"
                  />
                </div>
                <div class="ellipse-parent">
                  <img
                    class="group-item"
                    alt=""
                    src="./public/ellipse-18.svg"
                  />

                  <div class="div4">
                    <span>20</span>
                    <span class="span">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="div5">
              <img
                class="e97-1bef-49b5-a039-25634b9aaaa-icon"
                alt=""
                src="./public/50677e971bef49b5a03925634b9aaaa41@2x.png"
              />

              <div class="lmpara-parent">
                <div class="mesa">Mesa</div>
                <div class="div2">$ 99.00</div>
                <div class="parent">
                  <div class="div3">$ 189.00</div>
                  <img
                    class="path-263-icon"
                    alt=""
                    src="./public/path-263.svg"
                  />
                </div>
                <div class="ellipse-parent">
                  <img
                    class="group-item"
                    alt=""
                    src="./public/ellipse-18.svg"
                  />

                  <div class="div4">
                    <span>20</span>
                    <span class="span">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="div9">
              <img
                class="e97-1bef-49b5-a039-25634b9aaaa-icon"
                alt=""
                src="./public/50677e971bef49b5a03925634b9aaaa42@2x.png"
              />

              <div class="lmpara-parent">
                <div class="silla">Silla</div>
                <div class="div2">$ 99.00</div>
                <div class="parent">
                  <div class="div3">$ 189.00</div>
                  <img
                    class="path-263-icon"
                    alt=""
                    src="./public/path-263.svg"
                  />
                </div>
                <div class="ellipse-parent">
                  <img
                    class="group-item"
                    alt=""
                    src="./public/ellipse-18.svg"
                  />

                  <div class="div4">
                    <span>20</span>
                    <span class="span">%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <label class="frase">
        <p class="por-qu">El mejor lugar</p>
        <p class="por-qu">te hace sentir</p>
        <p class="por-qu">en casa</p>
      </label>
      <div class="categorias">
        <div class="line-parent">
          <div class="line-div"></div>
          <div class="group-child1"></div>
          <img class="line-icon" alt="" src="./public/line-52.svg" />
      
          <div class="group-child2"></div>
          <div class="group-child3"></div>
      
          <a href="./catalogo?categoria=Salas">
            <img
              class="d4713349-2e2e-473f-928f-b5c048-icon"
              alt="Salas"
              src="./public/d47133492e2e473f928fb5c048928252@2x.png"
            />
          </a>
      
          <a href="./catalogo?categoria=Recámara">
            <img
              class="da0-1cc1-43d4-9e1e-61c12afab3d-icon"
              alt="Recamaras"
              src="./public/22635da01cc143d49e1e61c12afab3db@2x.png"
            />
          </a>
      
          <a href="./catalogo?categoria=Almacenaje">
            <img
              class="shopping-icon"
              alt="Almacenaje"
              src="./public/shopping@2x.png"
            />
          </a>
      
          <a href="./catalogo?categoria=Sillas y bancos">
            <img
              class="ab18eb1-3696-44be-9e6f-ed51751-icon"
              alt="Sillas y bancos"
              src="./public/6ab18eb1369644be9e6fed51751d63bc@2x.png"
            />
          </a>
      
          <a href="./catalogo?categoria=Mesas">
            <img
              class="e1288d-086d-42c6-aa4e-61575049-icon"
              alt="Mesas"
              src="./public/24e1288d086d42c6aa4e61575049751d@2x.png"
            />
          </a>
      
          <a href="./catalogo?categoria=Decoración">
            <img
              class="cd0d-49be-9a31-e6a0f5253c99-icon"
              alt="Decoración"
              src="./public/58928688cd0d49be9a31e6a0f5253c99@2x.png"
            />
          </a>
      
          <div class="categorias1">CATEGORIAS</div>
      
          <a href="./catalogo?categoria=Salas" class="sillas">Salas</a>
          <a href="./catalogo?categoria=Recamaras" class="closets">Recamaras</a>
          <a href="./catalogo?categoria=Almacenaje" class="sofas">Almacenaje</a>
          <a href="./catalogo?categoria=Sillas y bancos" class="camas">Sillas y bancos</a>
          <a href="./catalogo?categoria=Mesas" class="gabinetes">Mesas</a>
          <a href="./catalogo?categoria=Decoracion" class="mesas">Decoracion</a>
        </div>
      </div>
      
      <div class="recent-items">
        <div class="recent-items1">Agregados Recientemente</div>
        <div class="product-grid">
          <div class="product-list">
            <% recientes.forEach(function(producto) { %>
              <a href="/producto?id=<%= producto.producto_id %>" class="product-link">
                <div class="product-card">
                  <img src="<%= producto.imagePath %>" alt="<%= producto.nombre %>" class="product-image">
                  <div class="product-details">
                    <h3 class="product-title"><%= producto.nombre %></h3>
                    <p class="product-sku">SKU <%= producto.codigo %></p>
                    <div class="product-price">
                      <p class="discounted-price">$<%= producto.precio %></p>
                    </div>
                  </div>
                </div>
              </a>
            <% }); %>
          </div>
        </div>
      </div>
      
       
      <div class="footer2"></div>
      
      <div class="fabrica-herreria">
        FABRICA - HERRERIA - MADERA - DECORACION - INTERIORISMO
      </div>
      
    </div>
    <div id="footer" style="position: relative; z-index: 3;"></div>


    <script>
      window.onload = function () {
        let claseAResaltar = "inicio5"; 
    
        // Cargar barra.html dinámicamente
        fetch("/Templates/barra.html")
          .then((response) => response.text())
          .then((data) => {
            document.getElementById("barra").innerHTML = data;
    
            // Aplicar el estilo para el elemento resaltado
            let elementoAResaltar = document.querySelector(`.${claseAResaltar}`);
            if (elementoAResaltar) {
              elementoAResaltar.style.fontWeight = 'bold';
              elementoAResaltar.style.color = 'var(--color-lightseagreen)';
            }
    
            // Por defecto, el login-wrapper3 redirige a /login
            const loginWrapper = document.querySelector('#login-wrapper3'); 
            const loginText = document.querySelector('.login5'); // El texto dentro del botón
            const bienvenidoText = document.querySelector('#bienvenido-text'); // El texto de bienvenida

            
            if (loginWrapper) {
              loginWrapper.onclick = function() {
                window.location.href = '/login';
              }; // Redirige a /login por defecto
            }
    
            // Verificar la sesión para modificar el botón de login/logout si es necesario
            fetch('/api/session')
              .then(response => response.json())
              .then(data => {
                console.log('Sesión obtenida:', data);
    
                if (data.isAuthenticated) {
                  // Cambiamos el color del contenedor (wrapper) a rojo chukum
                  loginWrapper.setAttribute('style', 'background-color: #C19A6B; top: calc(50% - 18px);');
    
                  // Cambiamos el texto a "Cerrar sesión"
                  loginText.textContent = 'Cerrar sesión';
    
                  // Cambiamos la acción a cerrar sesión
                  loginWrapper.onclick = function() {
                    window.location.href = '/logout';
                  };

                  bienvenidoText.textContent = ` ${data.correo}`; // Mostrar el nombre del usuario
                  
                  console.log('Sesión iniciada. Usuario:', data.correo);
                } else {
                  console.log('No hay sesión iniciada.');
                  bienvenidoText.style.display = 'none';
                }
              })
              .catch(error => console.error('Error al cargar la sesión:', error));
          })
          .catch(error => console.error('Error al cargar la barra:', error));
    
        // Cargar el footer.html dinámicamente
        fetch("/Templates/footer.html")
          .then((response) => response.text())
          .then((data) => {
            document.getElementById("footer").innerHTML = data;
          })
          .catch(error => console.error('Error al cargar el footer:', error));
      };

      var logo = document.getElementById("logo");
      if (logo) {
        logo.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }

      function toggleMenu() {
        const menu = document.querySelector('.menu-container');
        menu.classList.toggle('active'); // Activa o desactiva el menú
      }

      function hideSidebar() {
        const menu = document.querySelector('.menu-container');
        menu.classList.remove('active'); // Oculta el menú
      }
      window.onload = function () {
          fetch("/Templates/barra.html")
            .then((response) => response.text())
            .then((data) => {
              document.getElementById("barra").innerHTML = data;
            })
            .catch((error) => console.error("Error al cargar la barra:", error));
        };
    </script>
    
    
    
      
  </body>
</html>
